# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

driect_project/window_start/1_start.VC.db
driect_project/window_start/window_start.VC.db
driect_project/window_start/window_start.VC.VC.opendb
driect_project/window_start/.vs

